$primary: #2D4571;
$primary-dark: #152F5F;
$primary-darker: #061F4D;
$primary-light: #4B5F83;
$primary-lighter: #6F7C95;

$secondary: #236A62;
$secondary-dark: #0D5951;
$secondary-darker: #004840;
$secondary-light: #407B75;
$secondary-lighter: #648C87;

$ternary: #3E3175;
$ternary-dark: #271863;
$ternary-darker: #160850;
$ternary-light: #5A4F88;
$ternary-lighter: #7C749B;